.contenedor{
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-auto-flow: column;
    grid-template-rows: 100px 100px;
    height: 600px;
    place-content: center;
    place-items: end;
}

.item{
    border: 5px solid #00bcd4;
    font-size: 4rem;
}